* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
}

.box {
  width: 70%;
  margin: 0 auto;
}

.box img {
  margin-left: 30px;
  max-width: 70px;
  cursor: pointer;
}

.find_details {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.find_details select {
  height: 30px;
  padding: 0 10px;
  background-color: green;
  outline-color: green;
  border-radius: 5%;
  outline: none;
}

.find_details select:hover {
  background-color: green;
}

.find_details button {
  height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  background-color: green;
  cursor: pointer;
  border: green;
  border-radius: 5%;
  outline: none;
}

.container {
  width: 70%;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albums {
  display: inline-block;
  margin: 0 25px;
}

.album_pic {
  margin-top: 50px;
  width: 180px;
  height: 250px;
  background-color: black;
  text-align: center;
}

.album_pic img {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.album_pic .specifics {
  color: white;
  padding: 0;
}

.album_pic .specifics h4 {
  margin-bottom: 10px;
}

