.container {
  width: $middle_width;
  margin: $space_10*5 auto;
  font-family: 'Roboto', sans-serif;
  text-align: $pos_center;
  display: flex;
  flex-wrap: wrap;
  justify-content: $pos_center;
}

.albums {
  display: inline-block;
  margin: 0 $space_10*2.5;
}

.album_pic {
  margin-top: $space_10*5;
  width: $img_hw + $space_10*3;
  height: $img_hw + $space_10*10;
  background-color: $black;
  text-align: $pos_center;

  img {
    margin: $space_10 0;
    height: $img_hw;
    width: $img_hw;
    cursor: pointer;
  }

  .specifics {
    color: white;
    padding: 0;

    h4 {
      margin-bottom: $space_10;
    }
  }
}
