header {
  width: 100%;
  height: $height70;
  background-color: $black;
};

.box {
  width: $middle_width;
  margin: 0 auto;
  img {
    margin-left: $space_10*3;
    max-width: $height70;
    cursor: pointer;
  };
};
