.find_details {
  margin: 0 auto;
  text-align: center;
  margin-top: $space_10*5;

  select {
    height: $btn_slt_height;
    padding: 0 $space_10;
    background-color: $btn_slt_colour;
    outline-color: $btn_slt_colour;
    border-radius: 5%;
    outline: none;
    &:hover {
      background-color: $btn_slt_colour;
    }
  }

  button {
    height: $btn_slt_height;
    padding: 0 $space_10;
    margin: 0 $space_10;
    background-color: $btn_slt_colour;
    cursor: pointer;
    border: $btn_slt_colour;
    border-radius: 5%;
    outline: none;

  }
}
